<ul id="fixed-pagination" class="pagination hide-on-med-and-down">
    <li class="waves-effect"><a href="/"><button class="button">1</button></a></li>
    <li class="waves-effect"><a href="makePartial"><button>2</button></a></li>
    <li class="active"><a href="context"><button>3</button></a></li>
</ul>

<div class="col s12 m10 l10">
    <h4 class="teal-text text-darken-2 valign-wrapper heading top-space ">Adding unique context</h4>
    <section class="content flow-text">
        {{page3.paragraph1}}
    </section>


    <section class="content flow-text">
        {{page3.paragraph2}}
    </section>


    <section class="content flow-text">
        {{page3.paragraph3}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/2b0dc30f40cce4aac8c4.js"></script>
        </div>
    </div>


    <section class="content flow-text">
        {{page3.paragraph4}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/e772ddfa502afbfb92ea.js"></script>
        </div>
    </div>


    <section class="content flow-text">
        {{{page3.paragraph5}}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/a80686770637b814596e.js"></script>
        </div>
    </div>


    <section class="content flow-text">
        {{page3.paragraph6}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/1e3cbc83ba3f53ce7551.js"></script>
        </div>
    </div>

    <section class="content flow-text">
        {{page3.paragraph7}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/2c4eb78571d2294f2162.js"></script>
        </div>
    </div>

    <section class="content flow-text">
        {{{page3.paragraph8}}}
    </section>

    <section class="content flow-text">
        {{page3.paragraph9}}
    </section>

    <form method='get' action='makePartial'>
        <input type='submit' id='next' class='col m2 s12 waves-effect waves-light btn-large next-button' value='Previous'>
    </form>

    <div class="empty-block"></div>
</div>
