<div class="col s12 m10 l11">
    <h4 class="teal-text text-darken-2 valign-wrapper heading top-space ">What this is.</h4>
    <section class="content flow-text">
        {{page1.paragraph1}}
    </section>

    <h4 class="teal-text text-darken-2 valign-wrapper heading top-space">Who its for.</h4>
    <section class="content flow-text">
        {{page1.paragraph2}}
    </section>

    <h4 class="teal-text text-darken-2 valign-wrapper heading top-space">What partials are.</h4>
    <section class="content flow-text">
        {{page1.paragraph3}}
    </section>

    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1 card-panel hoverable">
                <div class="card teal darken-2">
                    <div class="card-content white-text flow-text">
                        <p>Handlebars allows for template reuse through partials. Partials are normal Handlebars templates that may be called directly by other templates.</p>
                    </div>
                    <div class="card-action">
                        <a class="no-link-highlight" href="http://handlebarsjs.com/partials.html">handlebarsjs.com/partials</a>
                    </div>
                </div>
        </div>
    </div>


    <section class="content flow-text">
        {{{page1.paragraph4}}}
    </section>

    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
                <script src="https://gist.github.com/schoonod/706b405551c972236a03.js"></script>
        </div>
    </div>

    <section class="content flow-text">
        {{page1.paragraph5}}
    </section>

    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/b2017d787eeaac46ced2.js"></script>
        </div>
    </div>

    <section class="content flow-text">
        {{{page1.paragraph6}}}
    </section>

    <section class="content flow-text">
        {{{page1.paragraph7}}}
    </section>

    <a class="col l2 push-l9 s12 waves-effect waves-light btn-large next-button" href="createParital.handlebars">Next</a>

    <div class="empty-block"></div>

</div>