<ul id="fixed-pagination" class="pagination hide-on-med-and-down">
    <li class="waves-effect"><a href="/"><button class="button">1</button></a></li>
    <li class="active"><a href="makePartial"><button>2</button></a></li>
    <li class="waves-effect"><a href="context"><button>3</button></a></li>
</ul>

<div class="col s12 m10 l10">
    <h4 class="teal-text text-darken-2 valign-wrapper heading top-space ">Making a partial</h4>
    <section class="content flow-text">
        {{page2.paragraph1}}
    </section>


    <section class="content flow-text">
        {{page2.paragraph2}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/faa46db3a43091c6e2e6.js"></script>
        </div>
    </div>


    <section class="content flow-text">
        {{{page2.paragraph3}}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/4146170dcbda40b2faf9.js"></script>
        </div>
    </div>



    <section class="content flow-text">
        {{page2.paragraph4}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/a63ca779ba251237319c.js"></script>
        </div>
    </div>


    <section class="content flow-text">
        {{{page2.paragraph5}}}
    </section>
    <div class="row block-top-margin">
        <div class="col s12 m10 push-m1">
            <script src="https://gist.github.com/schoonod/82306a864b3ac85ee4c3.js"></script>
        </div>
    </div>

    <section class="content flow-text">
        {{{page2.paragraph6}}}
    </section>


    <a id='next' class="col l2 push-m3 s5 waves-effect waves-light btn-large next-button" href='/'>Previous</a>
    <a id='next' class="col l2 push-m6 s5 waves-effect waves-light btn-large next-button" href='context'>Next</a>

    <div class="empty-block"></div>


</div>